{% extends "home.html" %}
{% block content %}
<h2>Lista della Spesa</h2>
<div class="row mb-3">
    <div class="col-md-12">
        <a href="{{ url_for('download_lista_spesa') }}" class="btn btn-success">
            Scarica Lista
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% if lista_spesa %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Ingrediente</th>
                        <th>Quantità</th>
                        <th>Unità</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in lista_spesa %}
                    <tr>
                        <td>{{ item.nome }}</td>
                        <td>{{ item.quantita }}</td>
                        <td>{{ item.unita_misura }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
        <div class="alert alert-info">
            Non ci sono ingredienti da acquistare al momento.
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
